<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="af606c">  <td>24/01/24 20:00:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.qa.testcases.LoginPageTest@2cf3d63b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@126189538</td>   <td></td> </tr>
<tr bgcolor="af606c">  <td>24/01/24 19:59:45</td>   <td>-28196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.qa.testcases.LoginPageTest@2cf3d63b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@126189538</td>   <td></td> </tr>
<tr bgcolor="af606c">  <td>24/01/24 19:58:35</td>   <td>-98146</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.logoVisisbleTest()[pri:2, instance:com.qa.testcases.LoginPageTest@2cf3d63b]">logoVisisbleTest</td> 
  <td>main@126189538</td>   <td></td> </tr>
<tr bgcolor="af606c">  <td>24/01/24 19:59:45</td>   <td>-28196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.qa.testcases.LoginPageTest@2cf3d63b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@126189538</td>   <td></td> </tr>
<tr bgcolor="af606c">  <td>24/01/24 19:59:50</td>   <td>-22901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginIntoPortal()[pri:4, instance:com.qa.testcases.LoginPageTest@2cf3d63b]">loginIntoPortal</td> 
  <td>main@126189538</td>   <td></td> </tr>
<tr bgcolor="af606c">  <td>24/01/24 19:59:45</td>   <td>-28196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.qa.testcases.LoginPageTest@2cf3d63b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@126189538</td>   <td></td> </tr>
<tr bgcolor="af606c">  <td>24/01/24 20:00:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.qa.testcases.LoginPageTest@2cf3d63b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@126189538</td>   <td></td> </tr>
<tr bgcolor="af606c">  <td>24/01/24 19:59:45</td>   <td>-28196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.qa.testcases.LoginPageTest@2cf3d63b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@126189538</td>   <td></td> </tr>
<tr bgcolor="af606c">  <td>24/01/24 19:58:43</td>   <td>-89485</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loingTextTest()[pri:3, instance:com.qa.testcases.LoginPageTest@2cf3d63b]">loingTextTest</td> 
  <td>main@126189538</td>   <td></td> </tr>
<tr bgcolor="af606c">  <td>24/01/24 19:58:26</td>   <td>-106569</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.validateLoginpageTitleTest()[pri:1, instance:com.qa.testcases.LoginPageTest@2cf3d63b]">validateLoginpageTitleTest</td> 
  <td>main@126189538</td>   <td></td> </tr>
<tr bgcolor="af606c">  <td>24/01/24 20:00:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.qa.testcases.LoginPageTest@2cf3d63b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@126189538</td>   <td></td> </tr>
<tr bgcolor="af606c">  <td>24/01/24 19:59:50</td>   <td>-22901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginIntoPortal()[pri:4, instance:com.qa.testcases.LoginPageTest@2cf3d63b]">loginIntoPortal</td> 
  <td>main@126189538</td>   <td></td> </tr>
<tr bgcolor="af606c">  <td>24/01/24 20:00:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.qa.testcases.LoginPageTest@2cf3d63b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@126189538</td>   <td></td> </tr>
<tr bgcolor="af606c">  <td>24/01/24 20:00:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.qa.testcases.LoginPageTest@2cf3d63b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@126189538</td>   <td></td> </tr>
<tr bgcolor="af606c">  <td>24/01/24 19:59:50</td>   <td>-22901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginIntoPortal()[pri:4, instance:com.qa.testcases.LoginPageTest@2cf3d63b]">loginIntoPortal</td> 
  <td>main@126189538</td>   <td></td> </tr>
<tr bgcolor="af606c">  <td>24/01/24 19:59:45</td>   <td>-28196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.qa.testcases.LoginPageTest@2cf3d63b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@126189538</td>   <td></td> </tr>
<tr bgcolor="af606c">  <td>24/01/24 20:00:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.qa.testcases.LoginPageTest@2cf3d63b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@126189538</td>   <td></td> </tr>
<tr bgcolor="af606c">  <td>24/01/24 19:59:45</td>   <td>-28196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.qa.testcases.LoginPageTest@2cf3d63b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@126189538</td>   <td></td> </tr>
</table>
