<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>QA Portal Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ad9bc1">  <td>24/01/17 19:23:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginIntoPortal()[pri:4, instance:com.qa.testcases.LoginPageTest@76a4ebf2]">loginIntoPortal</td> 
  <td>main@603305436</td>   <td></td> </tr>
<tr bgcolor="9a988c">  <td>24/01/17 19:24:51</td>   <td>70465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TrackReportPageTest.logoTest()[pri:2, instance:com.qa.testcases.TrackReportPageTest@1349883]">logoTest</td> 
  <td>main@603305436</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>24/01/17 19:23:21</td>   <td>-19742</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.logoVisisbleTest()[pri:2, instance:com.qa.testcases.LoginPageTest@76a4ebf2]">logoVisisbleTest</td> 
  <td>main@603305436</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>24/01/17 19:23:31</td>   <td>-9956</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loingTextTest()[pri:3, instance:com.qa.testcases.LoginPageTest@76a4ebf2]">loingTextTest</td> 
  <td>main@603305436</td>   <td></td> </tr>
<tr bgcolor="9a988c">  <td>24/01/17 19:25:22</td>   <td>101030</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TrackReportPageTest.navigationTest()[pri:3, instance:com.qa.testcases.TrackReportPageTest@1349883]">navigationTest</td> 
  <td>main@603305436</td>   <td></td> </tr>
<tr bgcolor="9a988c">  <td>24/01/17 19:24:18</td>   <td>36779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TrackReportPageTest.rackPageTitleTest()[pri:1, instance:com.qa.testcases.TrackReportPageTest@1349883]">rackPageTitleTest</td> 
  <td>main@603305436</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>24/01/17 19:23:35</td>   <td>-5474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.qa.testcases.LoginPageTest@76a4ebf2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@603305436</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>24/01/17 19:23:35</td>   <td>-5474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.qa.testcases.LoginPageTest@76a4ebf2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@603305436</td>   <td></td> </tr>
<tr bgcolor="9a988c">  <td>24/01/17 19:24:54</td>   <td>72883</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TrackReportPageTest.setUp()[pri:0, instance:com.qa.testcases.TrackReportPageTest@1349883]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@603305436</td>   <td></td> </tr>
<tr bgcolor="9a988c">  <td>24/01/17 19:24:54</td>   <td>72883</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TrackReportPageTest.setUp()[pri:0, instance:com.qa.testcases.TrackReportPageTest@1349883]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@603305436</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>24/01/17 19:23:35</td>   <td>-5474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.qa.testcases.LoginPageTest@76a4ebf2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@603305436</td>   <td></td> </tr>
<tr bgcolor="9a988c">  <td>24/01/17 19:24:54</td>   <td>72883</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TrackReportPageTest.setUp()[pri:0, instance:com.qa.testcases.TrackReportPageTest@1349883]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@603305436</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>24/01/17 19:23:35</td>   <td>-5474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.qa.testcases.LoginPageTest@76a4ebf2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@603305436</td>   <td></td> </tr>
<tr bgcolor="9a988c">  <td>24/01/17 19:25:26</td>   <td>105348</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TrackReportPageTest.tearDown()[pri:0, instance:com.qa.testcases.TrackReportPageTest@1349883]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@603305436</td>   <td></td> </tr>
<tr bgcolor="9a988c">  <td>24/01/17 19:25:26</td>   <td>105348</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TrackReportPageTest.tearDown()[pri:0, instance:com.qa.testcases.TrackReportPageTest@1349883]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@603305436</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>24/01/17 19:23:49</td>   <td>7734</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.qa.testcases.LoginPageTest@76a4ebf2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@603305436</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>24/01/17 19:23:49</td>   <td>7734</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.qa.testcases.LoginPageTest@76a4ebf2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@603305436</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>24/01/17 19:23:49</td>   <td>7734</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.qa.testcases.LoginPageTest@76a4ebf2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@603305436</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>24/01/17 19:23:49</td>   <td>7734</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.qa.testcases.LoginPageTest@76a4ebf2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@603305436</td>   <td></td> </tr>
<tr bgcolor="9a988c">  <td>24/01/17 19:25:26</td>   <td>105348</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TrackReportPageTest.tearDown()[pri:0, instance:com.qa.testcases.TrackReportPageTest@1349883]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@603305436</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>24/01/17 19:23:07</td>   <td>-33826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.validateLoginpageTitleTest()[pri:1, instance:com.qa.testcases.LoginPageTest@76a4ebf2]">validateLoginpageTitleTest</td> 
  <td>main@603305436</td>   <td></td> </tr>
</table>
