<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>EV Prod Login Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ad9bc1">  <td>24/01/24 20:27:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginIntoPortal()[pri:4, instance:com.qa.testcases.LoginPageTest@1ed4ae0f]">loginIntoPortal</td> 
  <td>main@76659128</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>24/01/24 20:27:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginIntoPortal()[pri:4, instance:com.qa.testcases.LoginPageTest@1ed4ae0f]">loginIntoPortal</td> 
  <td>main@76659128</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>24/01/24 20:27:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginIntoPortal()[pri:4, instance:com.qa.testcases.LoginPageTest@1ed4ae0f]">loginIntoPortal</td> 
  <td>main@76659128</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>24/01/24 20:25:55</td>   <td>-71644</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.logoVisisbleTest()[pri:2, instance:com.qa.testcases.LoginPageTest@1ed4ae0f]">logoVisisbleTest</td> 
  <td>main@76659128</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>24/01/24 20:26:03</td>   <td>-62970</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loingTextTest()[pri:3, instance:com.qa.testcases.LoginPageTest@1ed4ae0f]">loingTextTest</td> 
  <td>main@76659128</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>24/01/24 20:27:04</td>   <td>-2423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.qa.testcases.LoginPageTest@1ed4ae0f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@76659128</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>24/01/24 20:27:04</td>   <td>-2423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.qa.testcases.LoginPageTest@1ed4ae0f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@76659128</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>24/01/24 20:27:04</td>   <td>-2423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.qa.testcases.LoginPageTest@1ed4ae0f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@76659128</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>24/01/24 20:27:04</td>   <td>-2423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.qa.testcases.LoginPageTest@1ed4ae0f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@76659128</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>24/01/24 20:27:04</td>   <td>-2423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.qa.testcases.LoginPageTest@1ed4ae0f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@76659128</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>24/01/24 20:27:04</td>   <td>-2423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.qa.testcases.LoginPageTest@1ed4ae0f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@76659128</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>24/01/24 20:27:33</td>   <td>26936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.qa.testcases.LoginPageTest@1ed4ae0f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@76659128</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>24/01/24 20:27:33</td>   <td>26936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.qa.testcases.LoginPageTest@1ed4ae0f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@76659128</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>24/01/24 20:27:33</td>   <td>26936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.qa.testcases.LoginPageTest@1ed4ae0f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@76659128</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>24/01/24 20:27:33</td>   <td>26936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.qa.testcases.LoginPageTest@1ed4ae0f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@76659128</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>24/01/24 20:27:33</td>   <td>26936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.qa.testcases.LoginPageTest@1ed4ae0f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@76659128</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>24/01/24 20:27:33</td>   <td>26936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.qa.testcases.LoginPageTest@1ed4ae0f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@76659128</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>24/01/24 20:25:45</td>   <td>-81389</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.validateLoginpageTitleTest()[pri:1, instance:com.qa.testcases.LoginPageTest@1ed4ae0f]">validateLoginpageTitleTest</td> 
  <td>main@76659128</td>   <td></td> </tr>
</table>
